// Place all the styles related to the campers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#facets{padding: 10px; margin:0 10px 0 0;float:left;border:1px solid red;width:20%;}
#campers{padding: 10px; float:left;border:1px solid blue;width:75%;}
